<h3>
  Knowde
</h3>
<mat-card class="nav">
  <mat-card-content>
    <main>
      <app-scanner [productList$]="productList$" [printerOut$]="printerOut$"></app-scanner>
      <app-output [productList$]="productList$"></app-output>
      <app-printer [printerOut$]="printerOut$"></app-printer>
    </main>
  </mat-card-content>
</mat-card>
