<mat-card>
  <mat-form-field>
    <input type="text"
           placeholder="Enter product"
           matInput
           [formControl]="myControl">
  </mat-form-field>
  <span>
    <button (click)="findProd()" mat-stroked-button>Scan</button>
  </span>
  <div>
    <button (click)="handleExit()" mat-raised-button>Exit</button>
  </div>
</mat-card>
